:root{
    --general-animation-duration:0.2s;
    --donut-wheel-height:  800px;
}

.container {
    margin-top: calc(100vh - (var(--description-height) + var(--navbar-height) + (var(--donut-wheel-height)/2)));
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

}

.column {
    display:flex;
    flex-direction: column;
    margin: 0px 10%;

}

@media (max-width:1200px) {

    :root{
        --general-animation-duration:0.2s;
        --donut-wheel-height:  100%;
    }
    .container{
        flex-direction:column
    }
}