.drip {
    
    min-height: 400px;
    max-height: 500px;
    
}

.donut_section{
    margin-top:calc(var(--donut-wheel-height)/-2);

}

.reversed {
    margin-top:-1px;
    transform: rotate(180deg);
}
.drip path {
    viewport-fit: cover;
}

    