:root{
    --navbar-height:100px
}

.bar{
    width:80%;
    height:var(--navbar-height);
    color:white;
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.bar div {
    height: 100%;
}

.logo {
    max-height: 100%;
    
}


.navList{
    display: flex;
    justify-content: right;
    list-style: none;
}

@media (max-width:700px) {
    .navList{
        padding-top: var(--navbar-height);;
        width: 100%;
        top:0;
        right:100%;
        background-color: rgba(255, 255, 255, .8);
        position:fixed;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: all 0.5s;
        z-index: 9;
    }

    .show{
        right:0px;

    }


}