.svg text{
    font-size: 4px;
    fill: white;
    
}
.svg textPath {
    transition: all 0.2s;
}

#circleBorder {
    box-shadow: 0px 0px 2px 2px white;
}

.svg {
    width: var(--donut-wheel-height);
    height: var(--donut-wheel-height);
    overflow:visible;
}

.drop_shadow {
    filter: drop-shadow(0px 0px .4px  white)

}

.svg circle {
    transition: transform 0.2s ;
    transform-origin: 50% 50%;

}


.mint {
    transform: rotate(13deg);
}
.orange {
    transform: rotate(51deg);
}
.strawberry {
    transform: rotate(90deg);
}
.glazed {
    transform: rotate(130deg);
}
.chocolate {
    transform: rotate(164.5deg);
}
