.opacity_0{
    opacity:0;
}
.donut {
    max-width: var(--donut-wheel-height);
    transition: transform var(--general-animation-duration) ease;
    margin-top: calc(-1 * var(--donut-wheel-height));
}


.fade_in{
    animation-name:fadein;
    animation-duration: var(--general-animation-duration);
}
.fade_out{
    animation-name:fadeout;
    animation-duration: var(--general-animation-duration);
}


@keyframes fadein {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fadeout {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}