.container {
    width: 280px;
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
}
.mint > a{
    color: var(--mint-dark-color)
}

.orange > a{
    color: var(--orange-dark-color)

}
.strawberry > a{
    color: var(--strawberry-dark-color)

}
.glazed > a{
    color: var(--glazed-dark-color)

}
.chocolate > a{
    color: var(--chocolate-dark-color)
}
