:root{
    --mint-color: #00cd60;
    --orange-color: #d66400;
    --strawberry-color: #ac2648;
    --glazed-color: #d9b200;
    --chocolate-color: #382000;
    --mint-border-color: #00803c;
    --orange-border-color: #b33f00;
    --strawberry-border-color: #800032;
    --glazed-border-color: #d09200;
    --chocolate-border-color: #211300;
    --mint-dark-color: #1E4D2B;
    --orange-dark-color: #993300;
    --strawberry-dark-color: #65000B;
    --glazed-dark-color: #B8860B;
    --chocolate-dark-color: #382000;
}
