

.action{
    cursor:pointer;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    background-color:  #bbb;
    opacity: .5;
    color:white;
    font-size:35px;
    transition: opacity 0.2s ease;
    
}

.action:hover{
    opacity: .7;
}