:root{
    --general-animation-duration:0.2s;
    --donut-wheel-height:  800px;
}

.container {
    margin-top: calc(100vh - (var(--description-height) + var(--navbar-height) + (var(--donut-wheel-height)/2)));
    position: relative;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: var(--donut-wheel-height);
    transition: transform var(--general-animation-duration) ease;
    margin-top: calc(-1 * var(--donut-wheel-height));
}

.opacity_0{
    opacity:0;
}

.column {
    display:flex;
    flex-direction: column;
    margin: 0px 10%;

}

.fade_in{
    animation-name:fadein;
    animation-duration: var(--general-animation-duration);
}
.fade_out{
    animation-name:fadeout;
    animation-duration: var(--general-animation-duration);
}




@keyframes fadein {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes fadeout {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}