.container {
    width:100%;
}



.container img {
    width: 800px;
    position:absolute;
    left:calc(50vw - 400px);
    transition: transform 0.3s ease;
    bottom: -400px;

}


.spin {
    transform: rotate(90deg);
}