.item {
    height:fit-content;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}



.icon{
    margin-bottom: 60px;
    font-size: 135px;
}
.text {
    font-size: 30px;
}