:root{
    --button-diameter:70px;
    --button-radius: 35px

}


.action{
    margin-bottom: calc(var(--button-diameter) + var(--button-radius));
    cursor:pointer;
    border-radius: 100%;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border: 2px solid white;
    background-color:  #bbb;
    opacity: .5;
    color:white;
    font-size:calc(var(--button-radius));
    transition: all 0.2s ease;
    
}

.action:hover:not(:disabled){
    opacity: .7;
    transform: scale(105%);
}

.action:disabled{
    cursor:auto;
    background-color:  #aaa;
    border-color: #ccc;
    color:#ccc;

}

@media (max-width:1200px){
    .action {
        margin-bottom: 0px;

    }
    .left{
        margin-right: var(--button-diameter);
    }
    .right{
        margin-left: var(--button-diameter);
    }

}


@media (max-width:1000px){
    .action {
        margin-bottom: 0px;

    }
    .left{
        margin-right: var(--button-radius);
    }
    .right{
        margin-left: var(--button-radius);
    }

}

@media (max-width:820px) {

    :root{
        --button-radius: 30px;
        --button-diameter:60px;
    }
}

@media (max-width:615px) {

    :root{
        --button-radius: 25px;
        --button-diameter:50px;
    }
}

@media (max-width:550px) {

   .left{
    bottom: calc(50px + var(--donut-wheel-height));
    left: 50px;
    position:absolute;
   }
   .right{
    right: 50px;
    bottom: calc(50px + var(--donut-wheel-height));
    position:absolute;
   }
}